<html>
  <head>
    <title>Paddy biding</title>
  
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js">
    
  </script>
  <body>
    <div ng-app="" ng-init="Name='',pn='',in='',ad='',co=125" align="center">
      <p>NAME:<input type="text" ng-model="Name" placeholder="Enter the name "></p>
      <p>PHONE NUMEBR<input type="number" ng-model="pn" placeholder="Enter your Phone number"</p>
      <p>INDUSTRY NAME:<input type="text" ng-model="in" placeholder="Enter INDUSTRY NAME"</p>
      <p>Address:<input type="text" ng-model="ad" placeholder="Enter the Address"</p>
      <p>COST:<input type="number" ng-model="co" placeholder="ENTER THE BID PRICE"</p>
        <br>
        <table>
          <tr>
            <th>NAME:</th>
            <td>{{Name}}</td>
          </tr>
          
            <th>PHONE NUMBER:</th>
            <td>{{pn}}</td>
          
          <tr>
            <th>INDUSTRY NAME</th>
            <td>{{in}}</td>          
          </tr>
          <tr>
            <th>ADDRESS </th>
            <td>{{ad}}</td>
          </tr>
          <tr>
            <th>COST</th>
            <td>{{co}}</td>
          </tr>
      </table>
      
    </div>
  </body>
  </html>
